:root {
  color-scheme: dark;
  --primary-color: #00fff7;
  --secondary-color: #bd8afc;
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
}

p {
  /* color: #d4d4d4; */
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.links-main-section {
  display: grid;
  /* place-items: center; */
  min-height: 100vh;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.wave {
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animated-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.animated-shape {
  background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  z-index: 0;
  /* height: 400px; */
  /* width: 400px; */
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(
      45deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
  }
}

.prose :where(ul li, ol li):not(:where([class~="not-prose"] *))::marker {
  all: unset;
  font-weight: 600;
  color: var(--secondary-color);
  content: "â¯";
  padding: 0.5rem;
}

.prose :where(ul > li, ol > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(ul, ol):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(p > code) {
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 0.125rem 0.25rem;
}

.prose :where(p > code) {
  border-color: rgb(82 82 82 / var(--tw-bg-opacity));
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
  color: rgb(229 229 229 / var(--tw-text-opacity));
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(pre) {
  color: #00fff7 !important;
  padding: 20px;
  margin-bottom: 1.5em;
}
