:root {
  color-scheme: light dark;
}

html {
  font-family: 'Onest Variable', system-ui, sans-serif;
}

body {
  background-color: #050505;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f65252;
  transform-origin: bottom right;
  transition: transform .15s ease-out;
}