:root {
  color-scheme: light dark;
}

html {
  font-family: 'Onest Variable', system-ui, sans-serif;
}

body {
  background-color: #050505;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}