---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title: string =
  "Francisco Gonzalez - Tech Lead and Senior Software Developer with 8 years of experience.";
const description: string = "";
---

<BaseLayout title={title} description={description}>
  <PageHeader title="Hello" emoji="☕️" />
  <section
    class="divide-y divide-gray-200 dark:divide-gray-700 items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0"
  >
    <h2>Hola</h2>
  </section>
</BaseLayout>
