---
import BaseLayout from "../layouts/BaseLayout.astro";

const title: string =
  "Francisco Gonzalez - Tech Lead and Senior Software Developer with 8 years of experience.";
const description: string =
  "Dive into the coding universe with Francisco Javier Gonzalez Silva, where creativity meets code. My personal website is your gateway to a broad range of programming resources, from in-depth language analyses to hands-on guides and tech tool reviews. Perfect for developers at any stage of their career, here you'll find inspiration, advanced techniques, and helpful tips to take your development projects to the next level.";
---

<BaseLayout title={title} description={description}>
  <section class="pt-12 pb-8 space-y-2 sm:space-y-5 md:space-y-4 md:w-[550px]">
    <h1
      class="text-4xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:leading-10 md:leading-14"
    >
      Hey, I'm
      <a
        class="hover-underline-animation text-accent text-primary"
        href="/about">Francisco</a
      >
      <span class="wave" role="img" aria-label="Hello"> 👋🏽</span>
    </h1>
    <h2 class="text-lg font-extralight text-gray-600 dark:text-gray-400 pt-1">
      I solve problems, sometimes with code, always with coffee ☕️. Tech Lead &
      Sr. Software Developer with <strong class="text-secondary"
        >+8 years of experience</strong
      >.
    </h2>
    <p class="font-thin text-gray-600 dark:text-gray-400 pt-0.5">
      I'm also on
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/franciscogonzalezsilva/"
        class="icon-link hover-underline-animation font-medium inline-flex flex-row items-center gap-2"
      >
        that profesional app.
      </a>
    </p>
  </section>
</BaseLayout>
