---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Francisco Gonzalez Silva - Personal blog";
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
