---
import SocialLinksPanel from "./SocialLinksPanel.astro";

const author = "Francisco González";
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-gray-400 dark:border-gray-700">
  <div
    class="flex flex-row flex-wrap items-center justify-center md:justify-between my-8"
  >
    <div class="flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <span>© {currentYear}</span>
      <span>{author}</span>
      <div>•</div>
      <a class="hover-underline-animation" href="/">Just a coffee lover</a>
    </div>
    <div class="flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/franciscogsilva"
        class="hover-underline-animation icon-link"
      >
        Github
      </a>
      <div>•</div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://in.linkedin.com/in/franciscogonzalezsilva "
        class="hover-underline-animation icon-link"
      >
        LinkedIn
      </a>
      <div>•</div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.x.com/francgs_"
        class="hover-underline-animation icon-link">Twitter</a
      >
      <div>•</div>
      <a href="/rss.xml" class="hover-underline-animation">RSS Feed</a>
    </div>
  </div>
</footer>
