---
import SocialLinksPanel from "./SocialLinksPanel.astro";

const author = "Francisco González";
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-3 flex space-x-4">
      <SocialLinksPanel />
    </div>

    <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <a href="/">
        <span>{author}</span>
        <span>•</span>
        <span>© {currentYear}</span>
        <span>•</span>
      </a>
    </div>
    <div class="mb-8 text-sm text-gray-500 dark:text-gray-400">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/timlrx/tailwind-nextjs-starter-blog"
      >
        Based on Tailwind Nextjs Theme - Adapted with Astro
      </a>
    </div>
  </div>
</footer>
