---
const style = "text-sm font-semibold leading-6";
---

<a href="/" class={style}>Home</a>
<a href="/blog/" class={style}>Blog</a>
<a href="/tags/" class={style}>Tags</a>
<a href="/about/" class={style}>About</a>
