---
const { text } = Astro.props;
---

<div class="flex flex-col my-4">
  <h2 class="text-3xl font-medium !mb-1">{text}</h2>
  <span class="inline-block h-0.5 w-20 rounded bg-accent mb-4"></span>
</div>
