---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      src="https://us.umami.is/script.js"
      data-website-id="f2869995-c81f-476f-85d8-ef8516b023d6"></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!-- #1A1B26 -->
  <body class="text-black antialiased dark:bg-gray-950 dark:text-white">
    <section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
      <div class="flex h-screen flex-col justify-between font-sans">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </section>
  </body>
</html>
